.container {
  width: 1100px;
}
.smallContainer {
  width: 800px;
}
body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.purple {
  color: rgb(178, 167, 251);
}
.extra {
  color: #747bff;
}
