.container {
  width: 1100px;
}
.smallContainer {
  width: 800px;
  height: 400px;
}
body {
  font-family: "Roboto", sans-serif;
  /* background-color: black; */
  /* color: white; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.purple {
  color: rgb(178, 167, 251);
}
.extra {
  color: #747bff;
}

.stylefont {
  font-family: "Dancing Script", cursive;
}
a {
  text-decoration: none;
  color: white;
}

.new:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  /* filter: drop-shadow(0 0 2em #61dafbaa); */
}

.card {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  color: white;
  background-color: black;
  top: 0;
}
